{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "14"
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "version": "legacy" }],
    "@babel/plugin-transform-flow-strip-types"
  ]
}
