{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "max-len": [2, 140],
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, { "varsIgnorePattern": "^_" }],
    "quotes": [2, "single", { "allowTemplateLiterals": true }]
  }
}
